.GRAAH {
  font-size: 50px;
  text-align: center;
  color: red;
}
.smoregraah {
  font-size: 20px;
  text-align:center;
  color: orange;
}
.kalmnow {
  font-size: 20px;
  text-align: center;
  color: #cfd609;
}
.partybox {
  text-align: center;
}
.flintlockwood {
  width: 300px;
  height: 300px;
}
.shanpes {
  font-size: 20px;
  color: green;
}
.wot {
  font-size: 20px;
  color: blue;
}
.boil {
  width: 300px;
  height: 300px;
}
.eh {
 font-size: 20px;
  color: purple; 
}
.noice {
  font-size: 20px
}
.peber {
  width: 300px;
  height: 300px;
}
