.yey {
  font-size: 50px;
  text-align: center;
  color: red;
}
.elab {
  font-size: 20px;
  text-align: center;
  color: orange;
}
.ohno {
  font-size: 20px;
  text-align: center;
  color: #cfd609;
}
.urgency {
  font-size: 20px;
  text-align: center;
  color: green;
}

.drincc {
  width: 300px;
  height: 300px;
}
.the {
  width: 300px;
  height: 300px;
}
.chair {
  width: 300px;
  height: 300px;
}
.treschoices {
  text-align: center;
}
.hbt {
  color: #B81B0E 
}
.orbt {
  color: #FAFA33
}
.ombth {
  color: #00FF00
}
