.lookatu {
  text-align: center;
  font-size: 50px;
}
.fail {
  text-align: center;
  font-size: 20px;
    
}
.kaboom {
  text-align: center;
}
.starwars {
  width : 500px
}
.gohome {
  color: #6F2DA8;
}.lookatu {
  text-align: center;
  font-size: 50px;
}
.fail {
  text-align: center;
  font-size: 20px;
    
}
.kaboom {
  text-align: center;
}
.starwars {
  width : 500px
}
.gohome {
  color: #6F2DA8;
}
